# .gitignore file
.env
退避ファイル/AWS.pdf
退避ファイル/AWS.txt
退避ファイル/アマゾン.pdf
退避ファイル/アマゾン.txt
退避ファイル/名刺.pdf
退避ファイル/名刺.txt
退避ファイル/ChatGPTPlus.pdf
退避ファイル/ChatGPTPlus.txt
退避ファイル/ポケットWifi.pdf
退避ファイル/ポケットWifi.txt
退避ファイル/S202306_0065.pdf
退避ファイル/S202306_0065.txt
